/* FUNDO */
.banana {
    background-image: url("../p.jpg"); /* IMPORTANTE: caminho correto */
    background-size: cover;
    background-position: center;
}

/* FOTO CENTRALIZADA */
.opa {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

/* AUDIO CENTRALIZADO */
.audio-player {
    display: block;
    margin: 10px auto;
}